<div class='relative'>
    <div class='section left clickable' ng-click="setScreen('company')">    
        <div class='name'>{{game.company.name}}</div>    
        <div class='money' ng-class='{negative: game.company.cash < 0}'>
            {{game.company.cash > 0 ? '' : '-'}}&#8484;{{game.company.cash | abs}}     
            <div ng-class='{positive: cashChange > 0, negative: cashChange < 0}' class='cashchange'>{{cashChange > 0 ? '+' : ''}}{{cashChange}}</div>

        </div>
    </div>
    <div class='section middle clickable' ng-click="setScreen('ship')" >
        <div class='space-bar'>[ ]</div>
        <div class='space-text'>Space: {{game.ship.spaceUsed}} / {{game.ship.size}}</div>
    </div>
    <div class='section right'>   
        <div class='date'>week {{game.date.week}}, day {{game.date.day}}, {{game.date.timeString}}</div>    
        <button ng-click="setScreen('options')" class='options'>Options</button>
    </div>
</div>