<h1>Market</h1>

<div class='market-section'>
    <div class='comm-row'
         ng-repeat="comm in game.planet.commodities |  commsOnPlanetOrShip:this | orderObjectBy: 'average' "
         ng-init="shipComm = game.ship.commodities[comm.name]">

        <div class='comm-name'>
            {{comm.name}}
        </div>
        <div class='comm-on-planet'>
            <div class='top'>{{comm.count}}</div>
            <div class='bot'>&#8484;{{comm.price}} Each</div>
        </div>
        <div class='comm-buy'>
            <div class='top'>BUY</div>
            <div class='bot'>{{ Math.round(100 * comm.price / comm.average) }}%</div>
        </div>
        <div class='comm-sell'>
            <div class='top'>SELL</div>
            <div class='bot'>{{ Math.round(100 * (comm.price - shipComm.average) / shipComm.average ) }}%</div>
        </div>
        <div ng-show="shipComm.count" class='comm-on-ship'>
            <div class='top'>{{shipComm.count}}</div>
            <div class='bot'>Paid &#8484;{{shipComm.average}} Each</div>
        </div>    

    </div>
</div>

<button ng-click="setScreen('planet')">Back</button> <br />
<div id="footer" ng-include="'html/_footer.html'"></div>